.projects{
    display: grid;
    background-color: var(--bg-color);
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    color: var(--text-color);
    grid-gap: 1vh;
    padding: 70px 5vw;
    grid-gap: 40px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    justify-content: center;
}

.projects_head{
    border-radius: 40px;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    font-weight: 500;
    // width: 50vw;
    width: 250px;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.projects_head span{
    font-weight: 600;
}


.previews{
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: repeat(auto-fit, 265px);
    justify-content: center;
    grid-gap: 50px;    // height: auto;
}

.previews .preview:nth-child(even){
    background: #E7AFB7;
}




.previews .preview:nth-child(odd){
    background-color: #96D4D4;
}

.preview{
    transition: .2s ease-in all;
    border-radius: 15px;
    padding: 15px;
    // display: grid;
    // grid-template-rows: 1fr;
    // grid-template-columns: 1fr 1fr;
}

.preview {
    display: grid;
    grid-template-rows: 1fr;
    background: #E7AFB7;
    grid-template-columns: 3fr 2fr;
    color: #1B1C1E;
}

.preview:hover{
    // transform: scale(1.02);
}

#preview_text{
    display: grid;
}

#project_name{
    font-size: 25px;
    font-weight: 500  !important;
}
#project_description{
    font-size: 12px;
    padding-right: 15%;
}

#languages{
    font-size: 16px;
    font-weight: 500;
}

#explore{
    display: grid;
    background-color: var(--bg-color);
    text-align: center;
    align-content: center;
    border-radius: 1rem;
    // width: 250px;
    height: 50px;
    justify-self: start;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
    transition: .25s ease-in;
}

#explore:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
}

#preview_image{
    margin: 3px 0;
    background-position: top;
    background-size: 355px;
    background-repeat: no-repeat;
}

#last{
    display: grid;
    grid-template-columns: auto 30px;
    grid-gap: 50px;
    align-self: last baseline;
}

#github_repo{
    align-self: last baseline;
    font-size: 30px;
    color: #1B1C1E;
    cursor: pointer;
    transition: .12s ease-in transform;
}

#github_repo:hover{
    transform: scale(1.25);
}

#github_repo:active{
    transform: scale(0.9);
}



@media screen and (max-width: 850px) {
    .projects{
        height: 1500px !important;
    }
    .previews{
        grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
    }
    .preview{
        grid-template-columns: 1fr;
    }
    #preview_image{
        display: none;
    }
    #project_name{
        font-size: 28px;
        font-weight: 600 !important;
    }
    #project_description{
        font-size: 14px;
    }

}

@media screen and (max-width: 1024px) {
    .projects{
        height: 1350px !important;
    }
}


// @media screen and (min-width: 144px) {
//     .projects{
//         height: 80vh !important;
//     }
// }

@media screen and (max-width: 320px) {
    .previews{
        // width: 100%;
        grid-template-columns: 1fr;
    }
}