.projects{
    display: grid;
    background-color: var(--bg-color);
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    color: var(--text-color);
    grid-gap: 1vh;
    padding: 70px 5vw;
    grid-gap: 40px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    justify-content: center;
}

.projects_head{
    border-radius: 40px;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    font-weight: 500;
    // width: 50vw;
    width: 250px;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.projects_head span{
    font-weight: 600;
}


.previews{
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, 250px);
    justify-content: center;
    grid-gap: 20px;    // height: auto;
}

.previews :nth-child(odd){
    background: #E7AFB7;
}




.previews :nth-child(even){
    background-color: #96D4D4;
}

.preview{
    transition: .2s ease-in all;
    border-radius: 15px;
    cursor: pointer;
    // display: grid;
    // grid-template-rows: 1fr;
    // grid-template-columns: 1fr 1fr;
}

.preview:hover{
    transform: scale(1.02);
}




@media screen and (max-width: 850px) {
    .projects{
        height: 1500px !important;
    }
}

@media screen and (max-width: 1024px) {
    .projects{
        height: 1000px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .projects{
        height: 120vh;
    }
}

@media screen and (max-width: 320px) {
    .previews{
        // width: 100%;
        grid-template-columns: 1fr;
    }
}