@import '../../color';

#menu{
    background-color: var(--bg-color);
    padding: 0 20px;
    display: grid;
    grid-gap: 0 !important;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 1fr;
    align-content: center;
    align-items: center;
    transition: .1s ease-in all;
    z-index: 100;
    user-select: none;
    overflow: hidden;
}

.tabs, #mode{
    justify-self: end;
}

.tabs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2px;
    grid-gap: 5px;
    padding: 0 10px;
    transform: translateX(-300px);
    transition: .3s ease-in-out transform;
}

.menu{
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-gap: 7vw;
    font-size: 16px;
}

.menu div{
    cursor: pointer;
    transition: .1s ease-out transform;
}

#menuBar {
    cursor: pointer;
}

#scroll{
    background-color: $a_color;
    width: 45px;
    margin-left: 1px;
    justify-content: center;
    transition: .2s ease-out margin;
}

#mode{
    max-width: 30px;
    cursor: pointer;
    margin-right: 1vw;
    width: 60px;
    // visibility: hidden;
}


.material-symbols-outlined {
    transition: .15s cubic-bezier(0.4, 0, 0.6, 1) transform;
    font-size: 30px;
    margin-top: 0px;
    color: inherit;
    width: 30px;
}

.material-symbols-outlined:hover, .menu div:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.material-symbols-outlined:active {
    transform: rotateZ(360deg);
    transform: scale(.85);
}

.menu div:hover{
    transform: scale(1.1);
}
.menu div:active{
    transform: scale(.98);
    color: $a_color;
}

.sticky {
    position: fixed;
    top: 0;
    width: calc(100vw - 40px);
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 100;
}

.sticky #menuBar {
    padding-right: 20px;
}

#menu_bar{
    display: grid;
    justify-self: end;
}

#fade{
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--text-color);
    opacity: 0;
    position: fixed;
    transition: .3s ease-in opacity;
    visibility: hidden;
    
}

.appear{
    visibility: visible !important;
    opacity: .1 !important;
}

.show{
    transform: translateX(0) !important;
}

  @media screen and (max-width: 600px) {
    #menu{
        grid-template-columns: auto auto 60px;
        padding: 0 20px 0 0px;
    }
    
    .material-symbols-outlined {
        margin-top: 0;
        
    }

    .sticky{
        width: calc(100vw - 20px);
    }

    #scroll{
        display: none;
    }

    .tabs{
        position: fixed;
        width: 200px;
        height: 100vh;
        background-color: var(--bg-color);
        top: 0px;
        left: 0;
        z-index: 1;
        overflow-y: scroll;
    }
    .menu{
        min-height: 500px;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        align-content: center;
        align-self: center;
        justify-items: center;
        padding: 20px 0;
        grid-gap: 10vh;
        font-size: 18px !important;
    }
    
        
    .tabs::-webkit-scrollbar {
        width: 3px;
    }

    .tabs::-webkit-scrollbar-thumb {
        border-radius: 40px;
        cursor: pointer;
        background-color: #72727256;
    }

    .tabs::-webkit-scrollbar-track {
        background-color: transparent;
    }
  }

  .hint{
    transform: translateX(-100px);
  }

  @media screen and (min-width: 767px) {
    #menu{
        padding: 0 4.5vw 0 7.5vw;
    }

    .sticky{
        width: calc(100vw - 12vw);
    }
  }