.contacts{
    grid-column: span 1;
}

.info{
    grid-column: 2/8;
    font-family: 'Poppins', sans-serif;
}

.vector{
    grid-column: 8/13;
}

.contacts, .info, .vector{
    grid-row: span 12;
}

@media screen and (max-width: 767px){
    .welcome{
        padding: 0;
        height: 100vh;
        row-gap: 0;
    }
    .contacts{
        grid-column: span 2;
        grid-row: 1/6;
    }
    .vector{
        grid-column: 3/13;
        grid-row: 1/6;
    }
    .info{
        grid-column: 1/13;
        grid-row: 6/13;
        padding: 0 20px;
        align-content: start;
    }
    #name{
        font-size: 9vw;
        height: calc(9vw * 4.5);
    }
    #description {
        font-size: 3.2vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .welcome{
        height: 400px;
        min-height: 400px;

    }
}