.about{
    background-color: #F3ECEA;
    // background-image: url('../../background_transparent.svg');
    display: grid;
    padding: 50px 20px 12vh;
    grid-template-rows: 70px auto;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 3vw;
}


.about_head{
    border-radius: 40px;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    font-weight: 500;
    // width: 50vw;
    width: 250px;
    // background-color: var(--bg-color);
    // color: var(--text-color);
    color: #1B1C1E;
    border: 3px solid #1B1C1E;
    box-shadow: 0 0 10px #6060604e;
}


.about_container{
    column-gap: 10vw;
    row-gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    justify-content: center;
}

.about_card{
    // justify-self: end;
    max-width: 500px;
    width: 40vw;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
}
.card_container{
    background-image: url(https://solarin-johnson.github.io/screenshots/background_in_space.gif);
    background-position: center;
    background-size: cover;
    color: #F3ECEA;
    box-shadow: -5px 5px 10px #6060604e;
}
.card_container, .text_container{
    border-radius: 10px;
}


.about_text{
    // justify-self: start;
    max-width: 500px;
    width: 40vw;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 500px;
    // justify-content: center;
    align-content: center;
}

.text_container{
    // background-color: transparent;
    color: #F5F5F5;
    // background-color: #272934;
    background-image: url(https://solarin-johnson.github.io/screenshots/background_in_space.gif);
    background-size: cover;
    background-position: end;

}

.card_container{
    display: grid;
    grid-template-rows: auto 90px 30px 50px;
    grid-template-columns: 1fr;
    align-content: center;
    // justify-content: end;
    // justify-content: center;
    padding: 0 10px;
    row-gap: 25px;
    height: 500px;
}

.card_image{
    width: 180px;
    height: 180px;
    justify-self: center;
    border-radius: 100%;
    background-color: #F5F5F5;
    background-image: url(https://solarin-johnson.github.io/screenshots/my_vector_low_quality.png);
    background-size: 210px;
    background-position: top;
    background-repeat: no-repeat;
}

.card_name{
    justify-self: center;
    font-size: 30px;
    width: 150px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
    // margin-top: 10px;
}

.position{
    display: grid;
    align-items: last baseline;
    justify-content: center;
    font-size: 16px;
}

.break{
    background-color: transparent;
    border-bottom: 2.5px solid var(--a-color);
    width: 80px;
    align-self: start;
    justify-self: center;
}

.about_text{
    display: grid;
    align-content: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.text_container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px !important;
    padding: 16.5px 30px;
}

#tabs{
    display: grid;
    grid-template-rows: 30px auto;
    grid-gap: 10px;
}

.tabs_title{
    font-size: 25px;
    font-weight: 500;
    color: #ffefe6;
}

.tabs_desc{
    font-size: 14px;
}

a{
    // text-decoration: none;
    cursor: pointer;
    color: #F5F5F5;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .about{
        height: 1300px !important;
        row-gap: 0vh !important;
    }
    .about div{
        max-width: none;
    }
    .about_container{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
        max-height: none;
    }
   .about_card, .about_text{
    max-width: 85vw !important;
    width: 500px;
    grid-template-columns: 100%;
   }
    .about_head{
        transform: scale(0.85);
    }
}

@media screen and (max-width: 320px) {
    .about{
        padding: 75px 0;
    }
}