.contacts{
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-rows: repeat(3, auto);
    grid-gap: 10%;
}

.contacts span{
    font-size: 30px;
    color: var(--n-color);
    transition: .13s ease-in all;
}

.contacts span:hover{
    color: var(--a-color);
    cursor: pointer;
    transform: scale(1.15);
}

.contacts span:active{
    transform: scale(.9);
}

@media screen and (max-width: 787px) {
    .contacts span{
        font-size: 25px !important;
    }
}

@media screen and (max-width: 1024px) {
    .contacts{
        grid-gap: 30px;
    }

    .contacts span{
        font-size: 2.5vw;
    }
}